[submodule "soil-monitor-usb-driver"]
	path = soil-monitor-usb-driver
	url = https://github.com/rubenszinho/soil-monitor-usb-driver.git
	branch = develop
[submodule "communication-unit"]
	path = communication-unit
	url = https://github.com/rubenszinho/landslide-communication-unit.git
	branch = develop
